@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "inter", "sans-sarif";
    scroll-behavior: smooth;
}

.navlink:hover {
    -webkit-text-stroke: 0.3px white;
}