@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "inter", "sans-sarif";
    scroll-behavior: smooth;
}

.navlink:hover {
    -webkit-text-stroke: 0.3px white;
}
::-webkit-scrollbar-track {
    border-radius: 12px;
    box-shadow: inset 0 0 6px white;
}

::-webkit-scrollbar-thumb {
    background: #686868;
    border-radius: 12px;
    outline: unset;
}

::-webkit-scrollbar {
    width: 2px;
    height: 4px;
    border-radius: 12px;
    background: #ffff;
}

body::-webkit-scrollbar {
    width: 5px;
    height: 4px;
    border-radius: 12px;
    background: #000000;
}

body::-webkit-scrollbar-thumb {
    background: #dbcccc;
    border-radius: 12px;
    outline: unset;
}